---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/settings

title: Homelab Dashboard
background: /images/background.png
headerStyle: clean
theme: dark
fiveColumns: false
layout:
  Remote Access:
    style: row
    columns: 1
  System Stats:
    style: row
    columns: 4